@import '../../static/scss/variables/colors';

.main-content {
  width: 100%;
  height: 100%;

  &__container {
    padding: 15px;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-self: center;

    &-content {
      color: white;
      display: grid;
      grid-gap: 15px;
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 200px);
      max-width: fit-content;
    }

    &-input {
      max-width: 300px;
      width: 100%;
    }

    &-actions {
    }

    &-button {
      padding: 10px 30px;
      background: white;
      color: $primary-text-color;
    }
  }

  &__user {
    color: white;
    border-radius: 10px;
    padding: 10px;
    background: $secondary-bg-color;
    width: fit-content;
    margin-bottom: 40px;

    &-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &-info {
      &-column {
        min-width: 100px;
      }
    }

    &-block {}
  }

  &__todos {
    &-list {
      margin-top: 20px;
    }

    &-count {
      font-size: 20px;
      font-weight: 500;
      align-self: center;
    }
  }
}
